$color-light: #fff;
$color-blue: #2980b9;
$color-background: #c8d6e5;
$color-primary: #34495e;
$color-secondary: #218c74;
$color-success: #01916d;

$font-header: 'Montserrat', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
